@import "@fontsource/open-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: #FFD700;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ddb900;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
